{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('front/Event.css') }}">
    <h1 class="center-only">Create new Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
