/*see page-body-wrapper2 in style.css and copy */



.table1 th{
    font-size: 25px;
    background-color:#f0f8ff;
    padding-left: 10px;padding-right: 10px
}
.table2{
    font-size: 26px;
    width: 90%;
    height: 70%;
    background-color:#f0f8ff;
    margin-left: 100px;
}
.table3 {
    border-collapse:separate;
    font-size: 26px;
    width: 100%;
    background-color:#f0f8ff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}
th{
    background-color:#f0f8ff;
    padding-left: 5px;padding-right: 5px
}
td{
    font-size: 18px;
}
.tdd{
    text-align:center;
}
.table4 {
    font-size: 25px;
    width: 90%;
    background-color:#f0f8ff;
    margin-left: 80px;
}
.table5 {
    border-collapse:separate;
    border-style: groove;
    border-color: #8CD2E5;
    border-spacing: 5px 10px;
    font-size: 26px;
    width: 50%;
    background-color:#f0f8ff;
    margin-left: 20px;
    margin-top: 20px;
}
th {
    height: 85px;
    color: black;
}
body {
    color: black;
}

h1 {
    color: black;
}
.center-div {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top:40px;
}
.center-only {
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 15px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



